<div id="stock-lookup">
  <h3>Search for Stocks</h3>
  <!-- USING THIS FORM TO MAKE A GET REQUEST TO THE SEARCH STOCKS PATH -->
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <!-- A TEXT FIELD TO SUBMIT TO THE STOCK MODEL WITH PLACEHOLDER AND AUTOFOCUS ON -->
        <%= text_field_tag :stock, params[:stock], placeholder: 'Stock ticker symbol', autofocus: true,
            class: 'form-control search-box input-lg' %>
      </div>
      <div class="col-md-2">
        <!-- JUST A BUTTON WITH BOOTSTRAP -->
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class="fa fa-search"></i> Look up a stock
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'common/spinner' %>
  <!-- IF THERE IS A STOCK THEN SHOW THE FOLLOWING RESULTS -->
  <% if @stock %>
    <div id="stock-lookup-results" class="well results-block">
      <strong>Symbol:</strong><%= @stock.ticker %>
      <strong>Name:</strong><%= @stock.name %>
      <strong>Price:</strong><%= @stock.price %>
    </div>
  <% end %>
  <div id="stock-lookup-errors"></div>

</div>
